// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
    background-color: #606060;
    padding: 25px;
}

h1 {
    text-align: center;
}
#splash {
    text-align: center;
}

.centered{
    text-align: center;
}